*{
    background:linear-gradient(65 deg,navy,deeppink);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.logo{
   border-radius: 2px;
    width: 10rem;
    height: 10vh;
}
#one{
    background-color: white;
}
a{
    color: black;
}
#btn1{
    background-color: blue;
    padding : 6px;
    color : white;
    border-radius:3px;
}
a{
    color: white;
    background-color: blue;
    padding : 2px;
}
marquee{
    color:red;
}
